/* Regular */

/* @font-face {
  font-family: "Schibsted Grotesk";
  src: url("../assets/fonts/SchibstedGrotesk/SchibstedGrotesk-Black.ttf")
    format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Schibsted Grotesk";
  src: url("../assets/fonts/SchibstedGrotesk/SchibstedGrotesk-Bold.ttf")
    format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Schibsted Grotesk";
  src: url("../assets/fonts/SchibstedGrotesk/SchibstedGrotesk-Medium.ttf")
    format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Schibsted Grotesk";
  src: url("../assets/fonts/SchibstedGrotesk/SchibstedGrotesk-Regular.ttf")
    format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Schibsted Grotesk";
  src: url("../assets/fonts/SchibstedGrotesk/SchibstedGrotesk-Light.ttf")
    format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Schibsted Grotesk";
  src: url("../assets/fonts/SchibstedGrotesk/SchibstedGrotesk-Thin.ttf")
    format("truetype");
  font-weight: 100;
} */

/* Italics */

/* @font-face {
  font-family: "Schibsted Grotesk";
  src: url("../assets/fonts/SchibstedGrotesk/SchibstedGrotesk-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Schibsted Grotesk";
  src: url("../assets/fonts/SchibstedGrotesk/SchibstedGrotesk-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Schibsted Grotesk";
  src: url("../assets/fonts/SchibstedGrotesk/SchibstedGrotesk-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Schibsted Grotesk";
  src: url("../assets/fonts/SchibstedGrotesk/SchibstedGrotesk-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Schibsted Grotesk";
  src: url("../assets/fonts/SchibstedGrotesk/SchibstedGrotesk-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Schibsted Grotesk";
  src: url("../assets/fonts/SchibstedGrotesk/SchibstedGrotesk-ThinItalic.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
} */
