/* Regular */
@font-face {
  font-family: "Schibsted Grotesk";
  src: url("/fonts/SchibstedGrotesk/SchibstedGrotesk-Black.woff2")
    format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Schibsted Grotesk";
  src: url("/fonts/SchibstedGrotesk/SchibstedGrotesk-Bold.woff2")
    format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Schibsted Grotesk";
  src: url("/fonts/SchibstedGrotesk/SchibstedGrotesk-Medium.woff2")
    format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Schibsted Grotesk";
  src: url("/fonts/SchibstedGrotesk/SchibstedGrotesk-Regular.woff2")
    format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Schibsted Grotesk";
  src: url("/fonts/SchibstedGrotesk/SchibstedGrotesk-Light.woff2")
    format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Schibsted Grotesk";
  src: url("/fonts/SchibstedGrotesk/SchibstedGrotesk-Thin.woff2")
    format("woff2");
  font-weight: 100;
}

/* Italics */
@font-face {
  font-family: "Schibsted Grotesk";
  src: url("/fonts/SchibstedGrotesk/SchibstedGrotesk-BlackItalic.woff2")
    format("woff2");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Schibsted Grotesk";
  src: url("/fonts/SchibstedGrotesk/SchibstedGrotesk-BoldItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Schibsted Grotesk";
  src: url("/fonts/SchibstedGrotesk/SchibstedGrotesk-MediumItalic.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Schibsted Grotesk";
  src: url("/fonts/SchibstedGrotesk/SchibstedGrotesk-Italic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Schibsted Grotesk";
  src: url("/fonts/SchibstedGrotesk/SchibstedGrotesk-LightItalic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Schibsted Grotesk";
  src: url("/fonts/SchibstedGrotesk/SchibstedGrotesk-ThinItalic.woff2")
    format("woff2");
  font-weight: 100;
  font-style: italic;
}
