@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.5;
    color: #fafafa;
    background-color: #040209;
  }
}
